{% extends "./layout.html" %}
{% block body %}
    <div class="container">
        <div class="genres">
            {% for genre in genres %}
                <a href="{% url 'genre' genre.id %}" class="genre" id="{{genre.name}}">
                    <span>{{ genre }}</span>
                </a>
            {% endfor %}
        </div>
        
        
        <div class="form-container">
            <h2>Add Genre:</h2>
            <form action="{% url 'add_genre' %}" method='POST'>
                {% csrf_token %}
                <input type="text" name="genre">
                <input type="submit">
            </form>
        </div>
    </div>
    
{% endblock %}